body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
}
body{background-color: lightblue; font-family: sans-serif}
#header{color: white; font-family: sans-serif; font-size: 16px;font-weight: 900;margin-left:3px;}
p{font-size: 16px;
  margin-bottom:25px;}
h2{font-size: 80px; color: white; align:middle;font-weight: bold;}
.align{
  position:relative;
  top: 300px;  
}
#p2{color:white;
  font-size: 16px;
  margin-top: 25px;
}

span{
  padding:10px;
  border:1px solid white;
  
}